@font-face{
  font-family: Mali-Bold;
  src: url(../fonts/Mali-Bold.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face{
  font-family: Mali-Regular;
  src: url(../fonts/Mali-Regular.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fonts/FontAwesome.otf");
}
/*html {
  scroll-behavior: smooth;
}*/
.none-pad{
  padding: 0px 0px 0px 0px !important;
} 
.none-pad-r{
  padding: 0px 5px 0px 0px !important;
} 
.none-right{
  margin-right: -15px;
} 
.none-left{
  margin-left: -15px;
} 

.dropdown:hover>.dropdown-menu {
  display: block;
}
 
.navbar-toggler-left .fa-bars{
  color: #fff !important;
}
@media only screen and (max-width: 991px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }
  .none-xs{
    padding: 0px 0px 0px 0px !important;
  }   
}
@media only screen and (min-width: 992px) { /* PC */
  .pc-x{
    display: none !important;
  }  
}

 
a:hover{
  text-decoration: none;
}
/*.banner {
  height: 100vh;
}*/ 


header{ 
  background-image: url(../images/bg-top.png); 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 200px;
}
header .top-1{
  
}
header .top-1 .ul-1{
  list-style: none;
  padding-top: 15px;
  padding-left: 0px;

}
header .top-1 .ul-1 li{
  display: inline;
  border-bottom: 3px solid #87bf57;
  padding-bottom: 15px;
}
header .top-1 .ul-1 li a{
  color: #4a752e;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Mali-Bold;
  border-right: 2px solid #4a752e;
}

header .top-1 .ul-1 li a:last-child{
  content: "";
  border-right: 1px solid transparent;
}
header .top-1 .ul-1 li a:hover{
  color: #87bf57;
}

header .cart img{
  width: 45px;
  padding-top: 10px;
}
header .cart p{
  width: 25px;
  height: 25px;
  background-color: #ff0000;
  border-radius: 100%;
  color: #fff;
  font-family: Mali-Bold;
  margin: auto;
  display: block;
  margin-top: 10px;
}
.top-c{
  margin-top: 25px;
}
.top-c img.ss {
  width: 20px;
}
.top-c a.tel{
  color: #4a752e;
  font-family: Mali-Bold;
}

.search{
  background-color: #f2f3f2 !important;
  color: #8fa3b8;
  font-family: Mali-Bold;
  border-radius: 30px;
  border: 1px solid #f2f3f2;
  padding: 4px 0px 4px 20px;
  width: 100%;
}

.search::placeholder {
  color: #8fa3b8; 
}

.search:focus{
  outline: none;
}
.search:focus{
  outline: none;
}
.form-search button{
  border: none; 
  outline: none;
  position: absolute;
  right: 0;
  top: 0; 
}
.form-search button img{ 
  height: 20px;
}

a.regis{
  font-family: Mali-Bold;
  color: #4a752e; 
  width: 50%;
  margin-right: 5px;
  border-radius: 30px;
  padding: 6px; 
}
a.login{
  font-family: Mali-Bold;
  color: #fff;
  background-color: #4a752e;
  display: inline-block;
  width: 50%;
  text-align: center;
  padding: 6px;
  margin-right: 5px;
  border-radius: 30px; 
}
a.regis:hover{
  color: #87bf57;
}
a.login:hover{
  background-color: #87bf57;
}

.navbar-brand img{
  width: 155px;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: -130px;
  margin-top: -50px;
}
.top-3{
  margin-top: 15px;
}
.top-3 .navbar .navbar-nav .nav-item .nav-link{
  color: #401c0d;
  font-family: Mali-Bold;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
} 
.top-3 .navbar-nav .nav-link img{
  width: 38px;
  margin-bottom: 25px;
}




.top-3 .navbar-nav .nav-item.active .nav-link p{ 
  /*border: 3px solid #004f2b;*/  
  background-size:  auto 68px;
}
.top-3 .navbar-nav .nav-item:hover .nav-link p{ 
  /*border: 3px solid #004f2b;  */
  transition: .1s ease-in; 
  background-size:  auto 68px;
}

h3.hob{
  border-bottom: 2px solid #87BF57;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 0.1em;
}
h3.hob span{
  background-color: #fff;
  color: #401C0D;
  font-family: Mali-Bold;
  text-align: center; 
  padding-left: 30px;
  padding-right: 30px;
}

.main{
  margin-bottom: 30px;
}
.main .item{
  margin-bottom: 30px;
}
.botx{
  background-color: #EDEDEE;
  border-radius: 0px 0px 30px 30px; 
  margin-top: -20px; 
  padding:25px 15px 15px;
}

.main .item > a > img{ 
  border-radius:30px 30px 0px 0px ;  
}
.botx h5{
  color: #401C0D;
  font-family: Mali-Bold;
  text-align: left;
}
.botx h5.price{
  color: #f00;
  font-family: Mali-Bold;
  text-align: left;
}
.botx h6{
  color: #401C0D;
  font-family: Mali-Bold;
  text-align: left;
}

.read-more{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 30px; 
  color: #D2232A;
  font-family: Mali-Bold; 
}

.h5m{
  color: #401C0D;
  font-family: Mali-Bold;
  margin-top: 15px;
}
.max-m{
  max-width: 120px;
}


.main .item .itm{
  margin-bottom: 30px;
  display:none;
}


.main .item .itm.v3:nth-child(1){ 
  display:block;
}
.main .item .itm.v3:nth-child(2){ 
  display:block;
}
.main .item .itm.v3:nth-child(3){ 
  display:block;
} 


.main .item .itm.v4:nth-child(1){ 
  display:block;
}
.main .item .itm.v4:nth-child(2){ 
  display:block;
}
.main .item .itm.v4:nth-child(3){ 
  display:block;
}
.main .item .itm.v4:nth-child(4){ 
  display:block;
}

.main .item .itm.v6:nth-child(1){ 
  display:block;
}
.main .item .itm.v6:nth-child(2){ 
  display:block;
}
.main .item .itm.v6:nth-child(3){ 
  display:block;
}
.main .item .itm.v6:nth-child(4){ 
  display:block;
}
.main .item .itm.v6:nth-child(5){ 
  display:block;
}
.main .item .itm.v6:nth-child(6){ 
  display:block;
}


.see-more{
  color: #fff;
  background-color: #669C36;
  font-family: Mali-Bold;
  padding: 11px 25px;
  border-radius: 14px;
}
.see-more:hover{
  color: #fff;
  background-color: #87bf57; 
}
h3.hob span.imgx{
  padding-left: 70px !important;
  padding-right: 70px !important;
}
h3.hob span.imgx:before{
  content: "";
  background-image: url(../images/icon-m3.png);
  background-repeat: no-repeat;  
  padding-left: 20px;
  display:inline-block;
  padding-right: 15px;
  margin-right: 15px;
  position: absolute;
  margin-top: -20px;
  margin-left: -50px;
  background-color: #fff; 
}
h3.hob span.imgx:after{
  content: "";
  background-image: url(../images/icon-m3.png);
  background-repeat: no-repeat; 
  padding-right: 20px;
  display:inline-block;
  padding-left: 15px;
  margin-left: 15px;
  position: absolute;
  margin-top: -20px;
  margin-right: -30px;
  background-color: #fff; 
  transform:scaleX(-1);
}

h3.hob span.bb2:before{ 
  background-image: url(../images/icon-m3.png); 
  background-size: 38px 38px ;
  width: 38px;
  height: 38px;  
}
h3.hob span.bb2:after{ 
  background-image: url(../images/icon-m3.png); 
  background-size: 38px 38px ;
  width: 38px;
  height: 38px;   
}

h3.hob span.bb3:before{ 
  background-image: url(../images/icon-m2.png);
  background-size: 58px 38px ;
  width: 58px;
  height: 38px; 
  margin-left: -65px;
}
h3.hob span.bb3:after{ 
  background-image: url(../images/icon-m2.png); 
  background-size: 58px 38px ;
  width: 58px;
  height: 38px;   
}

h3.hob span.bb4:before{ 
  background-image: url(../images/icon-m6.png);
  background-size: 30px 45px;
  width: 30px;
  height: 45px;  
}
h3.hob span.bb4:after{ 
  background-image: url(../images/icon-m6.png); 
  background-size: 30px 45px;
  width: 30px;
  height: 45px;   
}


h3.hob span.bb5:before{ 
  background-image: url(../images/yt.png);
  background-size: 48px 35px ;
  width: 48px;
  height: 35px; 
  margin-left: -65px;
}
h3.hob span.bb5:after{ 
  background-image: url(../images/yt.png); 
  background-size: 48px 35px ;
  width: 48px;
  height: 35px;   
}

.footer-bot{
  text-align: center;
  background-color: #004f2b; 
  font-family: Mali-Bold;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}


.fb-page{
  border: 4px solid #87bf57; 
}

footer h4{
  font-family: Mali-Bold;
  color: #401C0D;
  border-bottom: 4px solid #87bf57;
  padding-bottom: 15px;
}
footer .ft-ul{
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}
footer .ft-ul li a{
  font-family: Mali-Bold;
  color: #401C0D;
  line-height: 35px;
}

footer .ft-ul li a:hover{
  text-decoration: underline;  
}


@media only screen and (max-width: 991px) { /* MOBILE */
  footer h4{
    text-align: center;
  } 
  .carousel-control-prev-icon { 
    background-size: 30px;
  }
  .carousel-control-next-icon { 
    background-size: 30px;
  }
  h3.hob span {
    font-size: 18px;
  }
  .botx h5{ 
    font-size: 14px;
  }
  .botx h5.price{ 
    font-size: 14px;
  }
  .botx h6{ 
    font-size: 12px;
  }
  .botx .cart-item{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 25px;
    margin-bottom: 25px;
    width: 40px;
  }
  .h5m{
    font-size: 14px;
  }
  .read-more{
    font-size: 14px;
  }
  .read-more{ 
    margin-bottom: 20px; 
  }
  .ft-logo{
    max-width: 120px;
  }
  footer h4{
    font-size: 16px;
  }
  footer .ft-ul li a{
    font-size: 13px;
    line-height: 20px;
  }
  header .cart{
    background-color: #EDEDEE;
    width: 65px; 
    float: right;  
    border-radius: 0px 0px 45px 45px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1020;
  }
  .navbar{
    background-color: #fff;
    z-index: 999;
    position: absolute;
    top:0;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .top-1{
    margin-top: 30px;
  }
  .search-mb{
    position: absolute;
    top: 0;
    left: 0;
  }
  .form-search{
    width: 100%;
  }
  .form-search input{
    width: 75%;
  }
  .order-0{
    flex: 0 0 100%;
    max-width: 100%;l
  } 
  .form-search button{ 
    margin-right: 100px;
  }
  .product5 .itm img{
    max-width: 60px;
  }
  .product4 .itm img{
    max-width: 50px;
  }
}
@media only screen and (min-width: 992px) { /* PC */
  footer h4{
    text-align: center;
  } 
  .carousel-control-prev-icon { 
    background-size: 70px;
  }
  .carousel-control-next-icon { 
    background-size: 70px;
  } 
  .botx .cart-item{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 25px;
    margin-bottom: 20px;
    width: 45px;
  }
  .botx .cart-like{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 85px;
    margin-bottom: 20px;
    width: 35px;
  }
  .read-more{ 
    margin-bottom: 10px; 
  }
  .top-3 .navbar-nav .nav-item .nav-link p{
    width: 80px;
    height: 80px;
    margin: auto;
    background-size:  auto 58px;
    background-repeat: no-repeat;
    background-position: center; 
    /*border-radius: 100%;*/
  }

  .top-3 .navbar-nav .nav-item:nth-child(1) .nav-link p{
    background-image: url(../images/m1.png);
  }
  .top-3 .navbar-nav .nav-item:nth-child(2) .nav-link p{
    background-image: url(../images/m2.png);
  }
  .top-3 .navbar-nav .nav-item:nth-child(3) .nav-link p{
    background-image: url(../images/m3.png);
  }
  .top-3 .navbar-nav .nav-item:nth-child(4) .nav-link p{
    background-image: url(../images/m4.png);
  }
  .top-3 .navbar-nav .nav-item:nth-child(5) .nav-link p{
    background-image: url(../images/m5.png);
  }
  .top-3 .navbar-nav .nav-item:nth-child(6) .nav-link p{
    background-image: url(../images/m6.png);
  }
  .top-3 .navbar-nav .nav-item:nth-child(7) .nav-link p{
    background-image: url(../images/m7.png);
  }
  header .cart{
    background-color: #fff;
    width: 75px;
    height: 98px;
    float: right; 
    margin-top: -55px;
    border-radius: 0px 0px 45px 45px;
  }
  header{
    height: 200px;
  }
  .form-search button{ 
    margin-right: 25px;
  }
}

.fa-bars{
  color: #4a752e;
  margin-left: -20px;
}

.navbar-light .navbar-toggler { 
  border-color: rgba(0, 0, 0, 0);
}

ul.map-pan{
  list-style: none;
}
ul.map-pan li{
  display: inline-block;
  color: #004F2B;
  font-family: Mali-Bold;
  font-size: 24px;
  padding-right: 5px;

}
ul.map-pan li:after{
  content: ">";
  font-family: Mali-Bold; 
  padding-left: 5px;
  color: #401c0d;
}
 
ul.map-pan li a{ 
  color: #401c0d;
}
ul.map-pan li a:hover{ 
  color: #004F2B;
}
ul.map-pan li.active{ 
  color: #004F2B;
  cursor: default;
}
ul.map-pan li.active:after{
  content: "";  
}

.h4pre{
  font-family: Mali-Bold; 
  color: #004F2B;
  background-color: #fff200;
  padding: 4px 10px;
  border-radius: 30px;
}

.main-de h3{
  font-family: Mali-Bold; 
  color: #401c0d; 
}

.main-de h3 span.pricex{
  position: absolute;
  right: 0;
  font-family: Mali-Bold;
  color: #d2232a;
  float: right;
  margin-right: 15px;
}
.main-de h3 span.pricex:after{ 
  content: ".-";
  font-family: Mali-Bold;
  color: #d2232a;
}
.main-de h4{ 
  right: 0;
  font-family: Mali-Bold;
  color: #bdc2c7;
  float: right;
  margin-top: -15px;
  font-size: 20px;
}
.main-de h4:after{ 
  content: ".-";  
}
.line-tg {
  position: relative;
}
.line-tg:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  width: 140%;
  border-top: 2px solid;
  border-color: red;
  -webkit-transform:rotate(-15deg);
  -moz-transform:rotate(-15deg);
  -ms-transform:rotate(-15deg);
  -o-transform:rotate(-15deg);
  transform:rotate(-15deg);
}
.main-de h5{  
  font-family: Mali-Bold; 
  line-height: 40px;
  padding-left: 45px;
}
.main-de h5 a{   
  color: #401c0d; 
}
.main-de h5 img{ 
  max-height: 30px; 
  position: absolute;
  left: 0;
  margin-left: 15px;
}

.stat-x i{
  color: #87bf57;
}
.stat-x span{
  color: #401c0d; 
  font-family: Mali-Bold; 
}
.stat-x span.rat-x{
  color: #8fa3b8; 
  font-family: Mali-Bold; 
}

.group-x .input-group input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

.group-x .input-group input::-webkit-outer-spin-button,
.group-x .input-group input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.group-x{
  width: 140px;

}
.group-x .input-group {
  clear: both; 
  position: relative;
  background-color: #f2f3f2;
  display: block;
  margin: auto;
  padding: 2px 12px;
  border-radius: 20px;
}

.group-x .input-group input[type='button'] {
  background-color: #fff;
  min-width: 38px;
  width: auto;
  transition: all 300ms ease;
  border:1px solid #b7b7b7;
  background-color: #004f2b;
  border-radius: 100%;
  color: #fff;
  font-family: Mali-Bold; 
}
.input-group input:focus {outline:0;}

.group-x .input-group .button-minus,
.group-x .input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;
  position: relative;

}

.group-x .input-group .quantity-field {
  position: relative;
  height: 38px;
 
  background-color: transparent;
  border:none;
  width: 30px;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 5px;
  resize: vertical;
  text-align: center;
  background-color: #f2f3f2;
  color: #d2232a;
  font-family: Mali-Bold; 
  font-size: 20px;
}

.h3g{
  font-family: Mali-Bold; 
  color: #004f2b;
}
h4.h4po{
  position: absolute !important;
  left: 0 !important; 
  float:left !important;
  margin-left: 150px;
  top:0;
  margin-top: -30px;
}

.add-cart{
  padding: 8px 12px 6px;
  font-family: Mali-Bold;  
  background-color: #fff200;
  border-radius: 30px;
  color: #669c36;
  margin-right: 15px;
  height: 50px;
}
.add-cart img{
  max-height: 22px;
  margin-top: -4px;
}
.add-cart:hover{
  color: #004f2b;
}
.buy-now{
  padding: 8px 12px 6px;
  font-family: Mali-Bold; 
  color: #004f2b;
  background-color: #669c36;
  border-radius: 30px;
  color: #fff;
  height: 50px;
}
.buy-now:hover{
  color: #fff;
  background-color: #A6CE39;
}

.ssc img{
  max-width: 25px;
  margin-right: 5px;
}
.linli{
  background-color: #00b900;
  color: #fff;
  font-family: Mali-Bold; 
  padding: 4px 10px 6px;
  border-radius: 30px;
}
.linli:hover{ 
  color: #fff; 
}
.linli i{ 
  color: #fff; 
}
.linli img{ 
  width: 20px;
}

.view-review .nav-item .nav-link{
  background-color: #d0d2d3;
  border: none;
  border-radius: 15px 15px 0 0;
  font-family: Mali-Bold; 
  color: #401c0d;
  padding-top: 10px;
  font-size: 22px;
}
.view-review .nav-item .nav-link.active{
  background-color: #f5f5f5 ;
}

.view-review .tab-content{
  background-color: #f5f5f5;
}

.tab-content .view-detail h4{
  font-family: Mali-Bold; 

}
.tab-content .view-detail p{
  font-family: Mali-Bold; 
  padding-left: 15px;
  color: #4a752e;
}
.review-box{
  border-bottom: 1px solid #004f2b;
  margin-top: 15px;
  padding-bottom: 15px;
}
.review-box:last-child{
  border: none;
}
.review-box .review-u{
  width: 40px;
  border-radius: 100%;
}
.review-box span.sp1{
  font-family: Mali-Bold; 
  padding-left: 15px;
  color: #4a752e;
}
.review-box p{
  color: #4a752e;
  font-family: Mali-Bold; 
}
.review-box .r{
  position: absolute;
  right: 0;
  top: 0;
}
.review-box .r:after{
  font-family: 'FontAwesome';
  content: "\f058";
  color: #669c36;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: -25px;
}



.main-login{
  background-color: #f2f3f2;
  border-radius: 30px;
  padding: 30px;
}

.main-login h3{
  font-family: Mali-Bold;
  color: #004f2b; 
  font-size: 30px;
}
.main-login h3 a{  
  color: #401c0d !important;
  font-size: 24px; 
}
.main-login p{
  font-family: Mali-Bold;
  color: #58595b;  
}
.main-login input.form-control{ 
  font-family: Mali-Bold;
  border: none;
  border-radius: 16px;
  height: 50px;
  padding-left: 25px;
}
.main-login textarea.form-control{ 
  font-family: Mali-Bold;
  border: none;
  border-radius: 16px; 
  padding-left: 25px;
}
.main-login input.control-x{
  font-family: Mali-Bold;
  border: none;
  border-radius: 16px;
  height: 35px;
  padding-left: 15px;
}
.main-login textarea.form-control::placeholder {
  color: #8fa3b8;
}
.main-login input.form-control::placeholder {
  color: #8fa3b8;
}
.main-login .form-group span{
  position: absolute; 
  margin-top: -40px;
  font-family: Mali-Bold;
  color: red;
  font-size: 24px;
  margin-left: 10px;
}
.main-login h6{
  color: #004f2b;
  font-family: Mali-Bold;
}

.submx{
  color: #fff;
  background-color: #004f2b;
  font-family: Mali-Bold;
  padding: 11px 25px;
  border-radius: 14px;
  border:none;
} 
h3.ckp{
  color: #004F2B;
  font-family: Mali-Bold;
}
h3.ckp i{
  color: #ff9a2f; 
  font-size: 36px;
}


.form-check-label{
  color: #004F2B;
  font-family: Mali-Bold;
  margin-left: 20px;
}
.form-x label.label-xf{
  color: #8fa3b8;
  font-family: Mali-Bold; 
  padding-top: 5px;
}

.up-file{
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  height: 35px;
}

.control-x{
  display: none;
}
.form-check-input{
  width: 16px;
  height: 16px;
  color: red;
  margin-right: 20px;
}
.form-check-inline .form-check-input{
  color: #004F2B;
  font-family: Mali-Bold;
  margin-left: 20px;
}
.but1{
  background-color: #b3b5b8;
  color: #000;
  border-radius: 20px;
  padding: 2px 12px;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 65px;
  margin-top: 3px;
}
.but2{
  background-color: #b3b5b8;
  color: #000;
  border-radius: 20px;
  padding: 2px 12px;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 20px;
  margin-top: 3px;
}
.list-menu{
  background-color: #f2f3f2;
  border-radius: 24px; 
  margin-top: 45px;
  padding-bottom: 15px;
}
.member1 .l1 h3{
  background-color: #669c36;
  font-family: Mali-Bold;
  color: #fff;
  padding: 22px 15px;
  border-radius: 24px;
  position: absolute; 
  top:0;
  margin-top: -45px;
  width: 100%;
  left: 0;
}

.member1 .l1 ul{
  list-style: none;
  padding-left: 5px;
  margin-left: 5px;
}
.member1 .l1 ul li a{
  font-family: Mali-Bold;
  color: #401c0d;
  line-height: 40px;
  font-size: 20px;
}
.member1 .l1 ul li.active a{
  color: #004F2B;
}
.member1 .l1 ul li a:hover{
  color: #004F2B;
}
.member1 .l1 ul li a img{ 
  width: 30px;
  height: 30px;
}
.member1 .l2 h3{ 
  font-family: Mali-Bold;
  color: #004F2B;
}
.member1 .l2 h4{ 
  font-family: Mali-Bold;
  color: #004F2B;
}
.member1 .l2 form.setpad{
  padding: 30px;
  border-radius: 24px;
}
.member1 .l2 div.setpad{
  padding: 30px;
  border-radius: 24px;
  margin-bottom: 30px;
}
.member1 .l2 input.form-control{ 
  font-family: Mali-Bold;
  border: none;
  border-radius: 16px;
  height: 50px;
  padding-left: 25px; 
}
.member1 .l2 .bg2{  
  background-color: #f2f3f2;
}
.member1 .l2 textarea.form-control{ 
  font-family: Mali-Bold;
  border: none;
  border-radius: 16px; 
  padding-left: 25px;
  min-height: 90px;
  padding-top: 15px;
}
.member1 .l2 input.control-x{
  font-family: Mali-Bold;
  border: none;
  border-radius: 16px;
  height: 35px;
  padding-left: 15px;
}
.member1 .l2  textarea.form-control::placeholder {
  color: #8fa3b8;
}
.member1 .l2  input.form-control::placeholder {
  color: #8fa3b8;
}
.member1 .l2 .form-group span{
  position: absolute; 
  margin-top: -40px;
  font-family: Mali-Bold;
  color: red;
  font-size: 24px;
  margin-left: 10px;
}
.member1 .l2 .form-group span.x{
  position: absolute; 
  margin-top: -80px;
  font-family: Mali-Bold;
  color: red;
  font-size: 24px;
  margin-left: 10px;
}
.submx2{
  color: #fff;
  background-color: #004f2b;
  font-family: Mali-Bold;
  padding: 8px 15px;
  border-radius: 14px;
  border:none;
  margin-left: 4px;
  margin-right: 4px;
} 
.submx2:hover{
  color: #fff; 
  background-color: #004f2b;
} 
.subm2{
  color: #fff;
  background-color: #d2232a;
  font-family: Mali-Bold;
  padding: 8px 15px;
  border-radius: 14px;
  border:none;
  margin-left: 4px;
  margin-right: 4px;
} 
.subm2:hover{
  color: #fff; 
  background-color: #d2232a;
} 
.subm3{
  color: #fff;
  background-color: #669c36;
  font-family: Mali-Bold;
  padding: 8px 15px;
  border-radius: 14px;
  border:none;
  margin-left: 4px;
  margin-right: 4px;
} 
.subm3:hover{
  color: #fff; 
  background-color: #669c36;
} 
.otp-b{
  background-color: #d2232a;
  font-family: Mali-Bold;
  color: #fff;
  position: absolute;
  right: 0; 
  padding: 5px 13px;
  border-radius: 12px;
  margin-top: -42px;
  margin-right: 50px;
}
.otp-b:hover{
  color: #fff;
  background-color: #f00;
}
.member1 .l2 label {
  color: #8fa3b8;
  font-family: Mali-Bold;
}
.member1 .l2 label span{
  color: #d2232a;
}

.member1 .l2 .address p{
  margin-bottom: 0px;
  font-family: Mali-Bold;
  color: #004F2B;
  font-size: 20px;
}
.member1 .l2 .address p span{
  margin-bottom: 0px;
  font-family: Mali-Bold;
  color: #8fa3b8;
  font-size: 18px;
}
.plus-cir{
  color: #004F2B;
}
.plus-cir:hover{
  color: #004F2B;
}


.pagination #previous-page a{
  font-family: Mali-Bold;
  color: #004F2B;
  font-size: 32px;
  line-height: 20px;
}
.pagination #next-page a{
  font-family: Mali-Bold;
  color: #004F2B;
  font-size: 32px;
  line-height: 20px;
}
.pagination #previous-page a:hover{ 
  color: #87bf57; 
}
.pagination #next-page a:hover{ 
  color: #87bf57; 
}
.pagination .page-item {
  margin-left: 5px;
  margin-right: 5px;
}
.pagination .page-item .page-link{
  border:none !important; 
}
.pagination .page-item.current-page .page-link{
  border:none !important;
  background-color: #d0d2d3;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  font-family: Mali-Bold;
  color: #fff;
  font-size: 22px;
  padding-top: 0px;
  line-height: 30px;
}
.pagination .page-item.current-page.active .page-link{
  border:none !important;
  background-color: #004f2b;
}
.cop select{
  border: none;
  font-family: Mali-Bold;
  background-color: #EDEDEE;
  height: 30px;
  border-radius: 30px;
  padding-top: 3px;
}
.cop p{  
  transform: rotate(180deg);
  font-family: Mali-Bold;
  color: #401c0d;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -2px;
  margin-right: 5px;
}
.cop select::-ms-expand {  display: none; }
.cop select{
    -webkit-appearance: none;
    appearance: none;
}
.cop label{
  font-family: Mali-Bold;
  color: #401c0d;
  font-size: 22px;
}
.cop .form-group{
  margin-bottom: -25px;
}
.abpr .col-2{
  position: absolute;
  right: 0;
  top: 0;
  margin-right: -10px;
}
.abpr label{
  margin-right: 80px;
}
.tag-art{
  font-family: Mali-Bold;
  color: #fff;
  background-color: #669c36;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 8px;
}
.tag-art:hover{ 
  color: #fff; 
}
.botx p{
  font-family: Mali-Bold;
  color: #401c0d;
  margin-bottom: 0px;
}
.botx p span{ 
  color: #669c36;
}
.botx img.sh{ 
  height: 35px;
  margin-right: 15px;
  margin-bottom: 10px;
}
.botx img.ee{
  height: 15px;
}


/* 
401c0d

4a752e
87bf57
669c36
004F2B
*/