@font-face{
  font-family: Mali-Bold;
  src: url(../fonts/Mali-Bold.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face{
  font-family: Mali-Regular;
  src: url(../fonts/Mali-Regular.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fonts/FontAwesome.otf");
}
/*html {
  scroll-behavior: smooth;
}*/
.none-pad{
  padding: 0px 0px 0px 0px !important;
} 
.none-pad-r{
  padding: 0px 5px 0px 0px !important;
} 
.none-right{
  margin-right: -15px;
} 
.none-left{
  margin-left: -15px;
} 

.dropdown:hover>.dropdown-menu {
  display: block;
}
 
.navbar-toggler-left .fa-bars{
  color: #fff !important;
}
@media only screen and (max-width: 991px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }
  .none-xs{
    padding: 0px 0px 0px 0px !important;
  }   
}
@media only screen and (min-width: 992px) { /* PC */
  .pc-x{
    display: none !important;
  }  
}

 
a:hover{
  text-decoration: none;
}
/*.banner {
  height: 100vh;
}*/ 


header{ 
  background-image: url(../images/bg-top.png); 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 200px;
}
header .top-1{
  
}
header .top-1 .ul-1{
  list-style: none;
  padding-top: 15px;
  padding-left: 0px;

}
header .top-1 .ul-1 li{
  display: inline;
  border-bottom: 3px solid #87bf57;
  padding-bottom: 15px;
}
header .top-1 .ul-1 li a{
  color: #4a752e;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Mali-Bold;
  border-right: 2px solid #4a752e;
}

header .top-1 .ul-1 li a:last-child{
  content: "";
  border-right: 1px solid transparent;
}
header .top-1 .ul-1 li a:hover{
  color: #87bf57;
}

header .cart img{
  width: 45px;
  padding-top: 10px;
}
header .cart p{
  width: 25px;
  height: 25px;
  background-color: #ff0000;
  border-radius: 100%;
  color: #fff;
  font-family: Mali-Bold;
  margin: auto;
  display: block;
  margin-top: 10px;
}
.top-c{
  margin-top: 25px;
}
.top-c img.ss {
  width: 20px;
}
.top-c a.tel{
  color: #4a752e;
  font-family: Mali-Bold;
}

.search{
  background-color: #f2f3f2 !important;
  color: #8fa3b8;
  font-family: Mali-Bold;
  border-radius: 30px;
  border: 1px solid #f2f3f2;
  padding: 4px 0px 4px 20px;
  width: 100%;
}

.search::placeholder {
  color: #8fa3b8; 
}

.search:focus{
  outline: none;
}
.search:focus{
  outline: none;
}
.form-search button{
  border: none; 
  outline: none;
  position: absolute;
  right: 0;
  top: 0; 
}
.form-search button img{ 
  height: 20px;
}

a.regis{
  font-family: Mali-Bold;
  color: #4a752e; 
  width: 50%;
  margin-right: 5px;
  border-radius: 30px;
  padding: 6px; 
}
a.login{
  font-family: Mali-Bold;
  color: #fff;
  background-color: #4a752e;
  display: inline-block;
  width: 50%;
  text-align: center;
  padding: 6px;
  margin-right: 5px;
  border-radius: 30px; 
}
a.regis:hover{
  color: #87bf57;
}
a.login:hover{
  background-color: #87bf57;
}

.navbar-brand img{
  width: 145px;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: -130px;
  margin-top: -50px;
}
.top-3{
  margin-top: 15px;
}
.top-3 .navbar .navbar-nav .nav-item .nav-link{
  color: #401c0d;
  font-family: Mali-Bold;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
} 
.top-3 .navbar-nav .nav-link img{
  width: 38px;
  margin-bottom: 25px;
}




.top-3 .navbar-nav .nav-item.active .nav-link p{ 
  /*border: 3px solid #004f2b;*/  
  background-size:  auto 68px;
}
.top-3 .navbar-nav .nav-item:hover .nav-link p{ 
  /*border: 3px solid #004f2b;  */
  transition: .1s ease-in; 
  background-size:  auto 68px;
}

h3.hob{
  border-bottom: 2px solid #87BF57;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 0.1em;
}
h3.hob span{
  background-color: #fff;
  color: #401C0D;
  font-family: Mali-Bold;
  text-align: center; 
  padding-left: 30px;
  padding-right: 30px;
}

.main{
  margin-bottom: 30px;
}
.main .item{
  margin-bottom: 30px;
}
.botx{
  background-color: #EDEDEE;
  border-radius: 0px 0px 30px 30px; 
  margin-top: -20px; 
  padding:25px 15px 15px;
}

.main .item > a > img{ 
  border-radius:30px 30px 0px 0px ;  
}
.botx h5{
  color: #401C0D;
  font-family: Mali-Bold;
  text-align: left;
}
.botx h5.price{
  color: #f00;
  font-family: Mali-Bold;
  text-align: left;
}
.botx h6{
  color: #401C0D;
  font-family: Mali-Bold;
  text-align: left;
}

.read-more{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 30px; 
  color: #D2232A;
  font-family: Mali-Bold; 
}

.h5m{
  color: #401C0D;
  font-family: Mali-Bold;
  margin-top: 15px;
}
.max-m{
  max-width: 120px;
}


.main .item .itm{
  margin-bottom: 30px;
  display:none;
}


.main .item .itm.v3:nth-child(1){ 
  display:block;
}
.main .item .itm.v3:nth-child(2){ 
  display:block;
}
.main .item .itm.v3:nth-child(3){ 
  display:block;
} 


.main .item .itm.v4:nth-child(1){ 
  display:block;
}
.main .item .itm.v4:nth-child(2){ 
  display:block;
}
.main .item .itm.v4:nth-child(3){ 
  display:block;
}
.main .item .itm.v4:nth-child(4){ 
  display:block;
}

.main .item .itm.v6:nth-child(1){ 
  display:block;
}
.main .item .itm.v6:nth-child(2){ 
  display:block;
}
.main .item .itm.v6:nth-child(3){ 
  display:block;
}
.main .item .itm.v6:nth-child(4){ 
  display:block;
}
.main .item .itm.v6:nth-child(5){ 
  display:block;
}
.main .item .itm.v6:nth-child(6){ 
  display:block;
}


.see-more{
  color: #fff;
  background-color: #669C36;
  font-family: Mali-Bold;
  padding: 11px 25px;
  border-radius: 14px;
}
.see-more:hover{
  color: #fff;
  background-color: #87bf57; 
}
.see-more2{
  color: #fff;
  background-color: #669C36;
  font-family: Mali-Bold;
  padding: 8px 15px;
  border-radius: 14px;
  font-size: 12px;
}
.see-more2:hover{
  color: #fff;
  background-color: #87bf57; 
}
.see-more3{
  color: #fff;
  background-color: #787580;
  font-family: Mali-Bold;
  padding: 8px 15px;
  border-radius: 14px;
  font-size: 12px;
}
.see-more3:hover{
  color: #fff;
  background-color: #787580; 
}
h3.hob span.imgx{
  padding-left: 70px !important;
  padding-right: 70px !important;
}
h3.hob span.imgx:before{
  content: "";
  background-image: url(../images/icon-m3.png);
  background-repeat: no-repeat;  
  padding-left: 20px;
  display:inline-block;
  padding-right: 15px;
  margin-right: 15px;
  position: absolute;
  margin-top: -20px;
  margin-left: -50px;
  background-color: #fff; 
}
h3.hob span.imgx:after{
  content: "";
  background-image: url(../images/icon-m3.png);
  background-repeat: no-repeat; 
  padding-right: 20px;
  display:inline-block;
  padding-left: 15px;
  margin-left: 15px;
  position: absolute;
  margin-top: -20px;
  margin-right: -30px;
  background-color: #fff; 
  transform:scaleX(-1);
}

h3.hob span.bb2:before{ 
  background-image: url(../images/icon-m3.png); 
  background-size: 38px 38px ;
  width: 38px;
  height: 38px;  
}
h3.hob span.bb2:after{ 
  background-image: url(../images/icon-m3.png); 
  background-size: 38px 38px ;
  width: 38px;
  height: 38px;   
}

h3.hob span.bb3:before{ 
  background-image: url(../images/icon-m2.png);
  background-size: 58px 38px ;
  width: 58px;
  height: 38px; 
  margin-left: -65px;
}
h3.hob span.bb3:after{ 
  background-image: url(../images/icon-m2.png); 
  background-size: 58px 38px ;
  width: 58px;
  height: 38px;   
}

h3.hob span.bb4:before{ 
  background-image: url(../images/icon-m6.png);
  background-size: 30px 45px;
  width: 30px;
  height: 45px;  
}
h3.hob span.bb4:after{ 
  background-image: url(../images/icon-m6.png); 
  background-size: 30px 45px;
  width: 30px;
  height: 45px;   
}


h3.hob span.bb5:before{ 
  background-image: url(../images/yt.png);
  background-size: 48px 35px ;
  width: 48px;
  height: 35px; 
  margin-left: -65px;
}
h3.hob span.bb5:after{ 
  background-image: url(../images/yt.png); 
  background-size: 48px 35px ;
  width: 48px;
  height: 35px;   
}

.footer-bot{
  text-align: center;
  background-color: #004f2b; 
  font-family: Mali-Bold;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}


.fb-page{
  border: 4px solid #87bf57; 
}

footer h4{
  font-family: Mali-Bold;
  color: #401C0D;
  border-bottom: 4px solid #87bf57;
  padding-bottom: 15px;
}
footer .ft-ul{
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}
footer .ft-ul li a{
  font-family: Mali-Bold;
  color: #401C0D;
  line-height: 35px;
}

footer .ft-ul li a:hover{
  text-decoration: underline;  
}



.fa-bars{
  color: #4a752e;
  margin-left: -20px;
}

.navbar-light .navbar-toggler { 
  border-color: rgba(0, 0, 0, 0);
}

ul.map-pan{
  list-style: none;
}
ul.map-pan li{
  display: inline-block;
  color: #004F2B;
  font-family: Mali-Bold;
  font-size: 24px;
  padding-right: 5px;

}
ul.map-pan li:after{
  content: ">";
  font-family: Mali-Bold; 
  padding-left: 5px;
  color: #401c0d;
}
 
ul.map-pan li a{ 
  color: #401c0d;
}
ul.map-pan li a:hover{ 
  color: #004F2B;
}
ul.map-pan li.active{ 
  color: #004F2B;
  cursor: default;
}
ul.map-pan li.active:after{
  content: "";  
}

.h4pre{
  font-family: Mali-Bold; 
  color: #004F2B;
  background-color: #fff200;
  padding: 4px 10px;
  border-radius: 30px;
}

.main-de h3{
  font-family: Mali-Bold; 
  color: #401c0d; 
}

.main-de h3 span.pricex{
  position: absolute;
  right: 0;
  font-family: Mali-Bold;
  color: #d2232a;
  float: right;
  margin-right: 15px;
}
.main-de h3 span.pricex:after{ 
  content: ".-";
  font-family: Mali-Bold;
  color: #d2232a;
}
.main-de h4{ 
  right: 0;
  font-family: Mali-Bold;
  color: #bdc2c7;
  float: right;
  margin-top: -15px;
  font-size: 20px;
}
.main-de h4:after{ 
  content: ".-";  
}
.line-tg {
  position: relative;
}
.line-tg:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  width: 140%;
  border-top: 2px solid;
  border-color: red;
  -webkit-transform:rotate(-15deg);
  -moz-transform:rotate(-15deg);
  -ms-transform:rotate(-15deg);
  -o-transform:rotate(-15deg);
  transform:rotate(-15deg);
}
.main-de h5{  
  font-family: Mali-Bold; 
  line-height: 40px;
  padding-left: 45px;
}
.main-de h5 a{   
  color: #401c0d; 
}
.main-de h5 img{ 
  max-height: 30px; 
  position: absolute;
  left: 0;
  margin-left: 15px;
}

.stat-x i{
  color: #87bf57;
}
.stat-x span{
  color: #401c0d; 
  font-family: Mali-Bold; 
}
.stat-x span.rat-x{
  color: #8fa3b8; 
  font-family: Mali-Bold; 
}

.group-x .input-group input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

.group-x .input-group input::-webkit-outer-spin-button,
.group-x .input-group input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.group-x{
  width: 140px;

}
.group-x .input-group {
  clear: both; 
  position: relative;
  background-color: #f2f3f2;
  display: block;
  margin: auto;
  padding: 2px 12px;
  border-radius: 20px;
}

.group-x .input-group input[type='button'] {
  background-color: #fff;
  min-width: 38px;
  width: auto;
  transition: all 300ms ease;
  border:1px solid #b7b7b7;
  background-color: #004f2b;
  border-radius: 100%;
  color: #fff;
  font-family: Mali-Bold; 
}
.input-group input:focus {outline:0;}

.group-x .input-group .button-minus,
.group-x .input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;
  position: relative;

}

.group-x .input-group .quantity-field {
  position: relative;
  height: 38px;
 
  background-color: transparent;
  border:none;
  width: 30px;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 5px;
  resize: vertical;
  text-align: center;
  background-color: #f2f3f2;
  color: #d2232a;
  font-family: Mali-Bold; 
  font-size: 20px;
}

.h3g{
  font-family: Mali-Bold; 
  color: #004f2b;
}
h4.h4po{
  position: absolute !important;
  left: 0 !important; 
  float:left !important;
  margin-left: 150px;
  top:0;
  margin-top: -30px;
}

.add-cart{
  padding: 8px 12px 6px;
  font-family: Mali-Bold;  
  background-color: #fff200;
  border-radius: 30px;
  color: #669c36;
  margin-right: 15px;
  height: 50px;
}
.add-cart img{
  max-height: 22px;
  margin-top: -4px;
}
.add-cart:hover{
  color: #004f2b;
}
.buy-now{
  padding: 8px 12px 6px;
  font-family: Mali-Bold; 
  color: #004f2b;
  background-color: #669c36;
  border-radius: 30px;
  color: #fff;
  height: 50px;
}
.buy-now:hover{
  color: #fff;
  background-color: #A6CE39;
}

.ssc img{
  max-width: 25px;
  margin-right: 5px;
}
.linli{
  background-color: #00b900;
  color: #fff;
  font-family: Mali-Bold; 
  padding: 4px 10px 6px;
  border-radius: 30px;
}
.linli:hover{ 
  color: #fff; 
}
.linli i{ 
  color: #fff; 
}
.linli img{ 
  width: 20px;
}

.view-review .nav-item .nav-link{
  background-color: #d0d2d3;
  border: none;
  border-radius: 15px 15px 0 0;
  font-family: Mali-Bold; 
  color: #401c0d;
  padding-top: 10px;
  font-size: 22px;
}
.view-review .nav-item .nav-link.active{
  background-color: #f5f5f5 ;
}

.view-review .tab-content{
  background-color: #f5f5f5;
  border-radius: 0 0 15px 15px;
}

.tab-content .view-detail h4{
  font-family: Mali-Bold; 

}
.tab-content .view-detail p{
  font-family: Mali-Bold; 
  padding-left: 15px;
  color: #4a752e;
}
.review-box{
  border-bottom: 1px solid #004f2b;
  margin-top: 15px;
  padding-bottom: 15px;
}
.review-box:last-child{
  border: none;
}
.review-box .review-u{
  width: 40px;
  border-radius: 100%;
}
.review-box span.sp1{
  font-family: Mali-Bold; 
  padding-left: 15px;
  color: #4a752e;
}
.review-box p{
  color: #4a752e;
  font-family: Mali-Bold; 
}
.review-box h6{
  color: #401c0d;
  font-family: Mali-Bold; 
  margin-top: 5px;
}

.review-box .r{
  position: absolute;
  right: 0;
  top: 0;
}
.review-box .r:after{
  font-family: 'FontAwesome';
  content: "\f058";
  color: #669c36;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: -25px;
}



.main-login{
  background-color: #f2f3f2;
  border-radius: 30px;
  padding: 30px;
}

.main-login h3{
  font-family: Mali-Bold;
  color: #004f2b; 
  font-size: 30px;
}
.main-login h3 a{  
  color: #401c0d !important;
  font-size: 24px; 
}
.main-login p{
  font-family: Mali-Bold;
  color: #58595b;  
}
.main-login input.form-control{ 
  font-family: Mali-Bold;
  border: none;
  border-radius: 16px;
  height: 50px;
  padding-left: 25px;
}
.main-login textarea.form-control{ 
  font-family: Mali-Bold;
  border: none;
  border-radius: 16px; 
  padding-left: 25px;
}
.main-login input.control-x{
  font-family: Mali-Bold;
  border: none;
  border-radius: 16px;
  height: 35px;
  padding-left: 15px;
}
.main-login textarea.form-control::placeholder {
  color: #8fa3b8;
}
.main-login input.form-control::placeholder {
  color: #8fa3b8;
}
.main-login .form-group span{
  position: absolute; 
  margin-top: -40px;
  font-family: Mali-Bold;
  color: red;
  font-size: 24px;
  margin-left: 10px;
}
.main-login h6{
  color: #004f2b;
  font-family: Mali-Bold;
}

.submx{
  color: #fff;
  background-color: #004f2b;
  font-family: Mali-Bold;
  padding: 11px 25px;
  border-radius: 14px;
  border:none;
} 
h3.ckp{
  color: #004F2B;
  font-family: Mali-Bold;
}
h3.ckp i{
  color: #ff9a2f; 
  font-size: 36px;
}


.form-check-label{
  color: #004F2B;
  font-family: Mali-Bold;
  margin-left: 20px;
}
.form-x label.label-xf{
  color: #8fa3b8;
  font-family: Mali-Bold; 
  padding-top: 5px;
}

.up-file{
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  height: 35px;
}

.control-x{
  display: none;
}
.form-check-input{
  width: 16px;
  height: 16px;
  color: red;
  margin-right: 20px;
}
.form-check-inline .form-check-input{
  color: #004F2B;
  font-family: Mali-Bold;
  margin-left: 20px;
}
.but1{
  background-color: #b3b5b8;
  color: #000;
  border-radius: 20px;
  padding: 2px 12px;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 65px;
  margin-top: 3px;
}
.but2{
  background-color: #b3b5b8;
  color: #000;
  border-radius: 20px;
  padding: 2px 12px;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 20px;
  margin-top: 3px;
}
.list-menu{
  background-color: #f2f3f2;
  border-radius: 24px; 
  margin-top: 45px;
  padding-bottom: 15px;
}
.member1 .l1 h3{
  background-color: #669c36;
  font-family: Mali-Bold;
  color: #fff;
  padding: 22px 15px;
  border-radius: 24px;
  position: absolute; 
  top:0;
  margin-top: -45px;
  width: 100%;
  left: 0;
}
.member1 .l1 h4{
  color: #004F2B;
  font-family: Mali-Bold; 
}
.member1 .l1 ul{
  list-style: none;
  padding-left: 5px;
  margin-left: 5px;
}
.member1 .l1 ul li a{
  font-family: Mali-Bold;
  color: #401c0d;
  line-height: 40px;
  font-size: 20px;
}
.member1 .l1 ul li.active a{
  color: #004F2B;
}
.member1 .l1 ul li.actived a{
  color: #401c0d;
  padding-left: 40px;
}
.member1 .l1 ul li a:hover{
  color: #004F2B;
}
.member1 .l1 ul li a img{ 
  width: 30px;
  height: 30px;
}
.member1 .l2 h3{ 
  font-family: Mali-Bold;
  color: #004F2B;
}
.member1 .l2 h4{ 
  font-family: Mali-Bold;
  color: #004F2B;
}
.member1 .l2 h5{ 
  font-family: Mali-Bold;
  color: #004F2B;
}
.member1 .l2 h1{ 
  font-family: Mali-Bold;
  color: #ed2127;
  font-size: 48px;
} 
.member1 .l2 h6{ 
  font-family: Mali-Bold;
  color: #ed2127;
}
.member1 .l2 form.setpad{
  padding: 30px;
  border-radius: 24px;
}
.member1 .l2 div.setpad{
  padding: 30px;
  border-radius: 24px;
  margin-bottom: 30px;
}
.member1 .l2 input.form-control{ 
  font-family: Mali-Bold;
  border: none;
  border-radius: 16px;
  height: 50px;
  padding-left: 25px; 
}
.member1 .l2 .bg2{  
  background-color: #f2f3f2;
}
.member1  .bg2x{  
  background-color: #f2f3f2;
}
.member1 .l2 textarea.form-control{ 
  font-family: Mali-Bold;
  border: none;
  border-radius: 16px; 
  padding-left: 25px;
  min-height: 90px;
  padding-top: 15px;
}
.member1 .l2 input.control-x{
  font-family: Mali-Bold;
  border: none;
  border-radius: 16px;
  height: 35px;
  padding-left: 15px;
}
.member1 .l2  textarea.form-control::placeholder {
  color: #8fa3b8;
}
.member1 .l2  input.form-control::placeholder {
  color: #8fa3b8;
}
.member1 .l2 .form-group span{
  position: absolute; 
  margin-top: -40px;
  font-family: Mali-Bold;
  color: red;
  font-size: 24px;
  margin-left: 10px;
}
.member1 .l2 .form-group span.x{
  position: absolute; 
  margin-top: -80px;
  font-family: Mali-Bold;
  color: red;
  font-size: 24px;
  margin-left: 10px;
}
.member1 .l2 .form-group span.x2{
  position: absolute; 
  margin-top: 10px;
  font-family: Mali-Bold;
  color: red;
  font-size: 24px;
  margin-left: 10px;
} 
.submx2{
  color: #fff;
  background-color: #004f2b;
  font-family: Mali-Bold;
  padding: 8px 15px;
  border-radius: 14px;
  border:none;
  margin-left: 4px;
  margin-right: 4px;
} 
.submx2:hover{
  color: #fff; 
  background-color: #004f2b;
} 
.subm2{
  color: #fff;
  background-color: #d2232a;
  font-family: Mali-Bold;
  padding: 8px 15px;
  border-radius: 14px;
  border:none;
  margin-left: 4px;
  margin-right: 4px;
} 
.subm2:hover{
  color: #fff; 
  background-color: #d2232a;
} 
.subm3{
  color: #fff;
  background-color: #669c36;
  font-family: Mali-Bold;
  padding: 8px 15px;
  border-radius: 14px;
  border:none;
  margin-left: 4px;
  margin-right: 4px;
} 
.subm3:hover{
  color: #fff; 
  background-color: #669c36;
} 
.otp-b{
  background-color: #d2232a;
  font-family: Mali-Bold;
  color: #fff;
  position: absolute;
  right: 0; 
  padding: 5px 13px;
  border-radius: 12px;
  margin-top: -42px;
  margin-right: 50px;
}
.otp-b:hover{
  color: #fff;
  background-color: #f00;
}
.member1 .l2 label {
  color: #8fa3b8;
  font-family: Mali-Bold;
}
.member1 .l2 label span{
  color: #d2232a;
}

.member1 .l2 .address p{
  margin-bottom: 0px;
  font-family: Mali-Bold;
  color: #004F2B;
  font-size: 20px;
}
.member1 .l2 .address p span{
  margin-bottom: 0px;
  font-family: Mali-Bold;
  color: #8fa3b8;
  font-size: 18px;
}
.plus-cir{
  color: #004F2B;
}
.plus-cir:hover{
  color: #004F2B;
}


.pagination #previous-page a{
  font-family: Mali-Bold;
  color: #004F2B;
  font-size: 32px;
  line-height: 20px;
}
.pagination #next-page a{
  font-family: Mali-Bold;
  color: #004F2B;
  font-size: 32px;
  line-height: 20px;
}
.pagination #previous-page a:hover{ 
  color: #87bf57; 
}
.pagination #next-page a:hover{ 
  color: #87bf57; 
}
.pagination .page-item {
  margin-left: 5px;
  margin-right: 5px;
}
.pagination .page-item .page-link{
  border:none !important; 
}
.pagination .page-item.current-page .page-link{
  border:none !important;
  background-color: #d0d2d3;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  font-family: Mali-Bold;
  color: #fff;
  font-size: 22px;
  padding-top: 0px;
  line-height: 30px;
}
.pagination .page-item.current-page.active .page-link{
  border:none !important;
  background-color: #004f2b;
}
.cop select{
  border: none;
  font-family: Mali-Bold;
  background-color: #EDEDEE;
  height: 30px;
  border-radius: 30px;
  padding-top: 3px;
}
.cop p{  
  transform: rotate(180deg);
  font-family: Mali-Bold;
  color: #401c0d;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -2px;
  margin-right: 5px;
}
.cop select::-ms-expand {  display: none; }
.cop select{
    -webkit-appearance: none;
    appearance: none;
}
.cop label{
  font-family: Mali-Bold;
  color: #401c0d;
  font-size: 22px;
}
.cop .form-group{
  margin-bottom: -25px;
}
.abpr .col-2{
  position: absolute;
  right: 0;
  top: 0;
  margin-right: -10px;
}
.abpr label{
  margin-right: 80px;
}
.tag-art{
  font-family: Mali-Bold;
  color: #fff;
  background-color: #669c36;
  padding: 4px 10px;
  font-size: 10px;
  border-radius: 8px;
}
.tag-art:hover{ 
  color: #fff; 
}
.botx p{
  font-family: Mali-Bold;
  color: #401c0d;
  margin-bottom: 0px;
}
.botx p span{ 
  color: #669c36;
}
.botx img.sh{ 
  height: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.botx img.ee{
  height: 15px;
}

.m-shop{
  background-color: #fff200;
  border-radius: 12px;
  padding: 5px;

}
.m-shop{   
  background-image: url(../images/icon-pc.png);
  background-repeat: no-repeat;
  background-position: 15px bottom;
  background-size: auto 80px;
  margin-bottom: 30px;
}
.m-shop h5{  
  font-family: Mali-Bold;
  color: #004F2B; 
  margin-left: 40%;  
  padding-top: 30px;
  padding-bottom: 25px;

} 
h3.t3{
  font-family: Mali-Bold;
  color: #004F2B; 
}
 
.intros{
  background-color: #87bf57;
  padding: 30px;
  border-radius: 20px;
}
.intros h3{ 
  font-family: Mali-Bold;
  color: #401c0d;
}
.intros h5{ 
  font-family: Mali-Bold;
  color: #401c0d;
}

.terms p{
  font-family: Mali-Bold;
  color: #401c0d;
}

.terms .desx h3{
  font-family: Mali-Bold;
  color: #004F2B;
}
.terms .desx p{
  font-family: Mali-Bold;
  color: #401c0d;
  padding-left: 30px;
}

.contact h2{
  font-family: Mali-Bold;
  color: #004f2b; 
}

.contact p{
  font-family: Mali-Bold;
  color: #004f2b; 
  margin-bottom: 45px;
  font-size: 22px;
}
.contact p a{ 
  color: #004f2b; 
}
.contact h2:after{
  content: "";
  width: 60px;
  height: 60px; 
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 50px 50px;
  position: absolute;
  left: 0; 
  margin-left: -45px;
  margin-top: -15px;
}
.contact h2.h1x:after{ 
  background-image: url(../images/h1.png); 
}
.contact h2.h2x:after{ 
  background-image: url(../images/h2.png); 
  margin-top: 0px;
}
.contact h2.h3x:after{ 
  background-image: url(../images/h3.png); 
  margin-top: 0px;
}
.contact h2.h4x:after{ 
  background-image: url(../images/h4.png); 
  margin-top: 0px;
}
.contact h2.h5x:after{ 
  background-image: url(../images/h5.png); 
  margin-top: 0px;
}
.contact h2.h6x:after{ 
  background-image: url(../images/h6.png); 
  margin-top: 0px;
}

.qrx img{
  max-width: 160px;
}
.qrx h4{
  color: #004F2B;
  font-family: Mali-Bold;
  margin-top: 15px;
  margin-bottom: 0;
}
.qrx h6{
  color: #004F2B;
  font-family: Mali-Bold;
}
.xmap{
  border-radius: 8px;
  border: 2px solid #F2F3F2;
}
.tag a div{
  font-family: Mali-Bold;
  color: #fff;
  background-color: #669c36;
  padding: 4px 8px;
  border-radius: 12px;
  margin-top:  10px;
  float: left;
  margin-right: 5px;
  font-size: 10px;
}
.tag a div:hover{ 
  background-color: #004F2B; 
}

.brw h5{
  color: #401c0d !important; 
}

.brw h6{
  color: #401c0d !important; 
}
.l2 h2{
  font-family: Mali-Bold;
  color: #401c0d;
}
.botx1 p{
  font-family: Mali-Bold;
  color: #401c0d;
  margin-bottom: 0px;
}
.botx1 p span{ 
  color: #669c36;
}
.botx1 img.ee{
  height: 15px;
}
.botx img.sh{ 
  height: 15px; 
}

.art-view h3{
  font-family: Mali-Bold;
  color: #401c0d !important;
}
.art-view h3 p{
  font-family: Mali-Bold;
  color: #401c0d !important;
}
.art-view div.hrxs{
  border-top: 2px solid #87bf57;
  width: 80%;
  display: block;
  margin: auto;
}
.about h3{
  font-family: Mali-Bold;
  color: #401c0d !important;
}
.about p{
  font-family: Mali-Regular;
  color: #401c0d !important;
}
.roundedx{
  border-radius: 12px;
}
.about p span{
  font-family: Mali-Bold;
  font-weight: bold;
}
.about hr{
  border-top: 2px solid #87bf57; 
  display: block;
  margin: auto;
}
.starrating > input {display: none;}  
.starrating > label:before { 
  content: "\f005"; 
  margin: 2px;
  font-size: 15px;
  font-family: FontAwesome;
  display: inline-block; 
  font-size: 30px;
}

.starrating > label
{
  color: #d0d2d3; 
}

.starrating > input:checked ~ label
{ color: #669c36 ; } 

.starrating > input:hover ~ label
{ color: #669c36 ;  } 

.review-main{
  margin-bottom: 15px;
  background-color: #f2f3f2;
  border-radius: 15px;
  padding: 20px 15px 0px;
  margin-bottom: 30px;
}
.review-main h3{
  color: #004f2b;
  font-family: Mali-Bold;
}
.review-main h4{
  color: #004f2b;
  font-family: Mali-Bold;
  margin-top: 10px;
}
.review-main h6{
  color: #004f2b;
  font-family: Mali-Bold;
}
.review-main h6 span{
  color: #8fa3b8;
}

.review-main .fl{
  color: #004F2B;
  font-family: Mali-Bold;
}
.textbb{
  background-color: #ffff;
  border-radius: 12px;
  color: #004F2B;
  font-family: Mali-Bold;
  margin-top: 15px;
  padding: 10px 15px;
}
.review-main .f-div{
  background-color: #d0d2d3;
  border-radius: 0 0 15px 15px;
  padding: 20px 15px 10px;
} 
.review-main .f-div span{ 
  color: #d2232a; 
  font-family: Mali-Bold;
}
.review-main .f-div span:after{
  content: ".-";
  color: #d2232a;  
}
.bg-dis{
  color: #d0d2d3;
}
.far.fa-file-image{
  color: #004f2b;
}
.disabledx{
  color: #d0d2d3 !important;
  cursor: no-drop !important;
}
.rew-dis{
  font-family: Mali-Bold;
  color: #fff !important;
  padding: 4px 12px;
  border-radius: 12px;
  background-color: #d0d2d3;
  float: right;
  cursor: no-drop;
}
.rew{
  font-family: Mali-Bold;
  color: #fff !important;
  padding: 4px 12px;
  border-radius: 12px;
  background-color: #004f2b;
  float: right; 
}
.review-main textarea.form-control{ 
  font-family: Mali-Bold;
  border: none;
  border-radius: 16px;  
  color: #8fa3b8;
}
.review-main textarea.form-control::placeholder {
  color: #d0d2d3;
}

.file-upload{
  display: none;
}
.review-main .far.fa-file-image{
  font-size: 30px;
} 
.review-main .fas.fa-exclamation-circle{
  color: #ed8f21;
}
 
.btn-dw{
  background-color: #004f2b;
  font-family: Mali-Bold;
  color: #fff !important;
  padding: 6px 12px;
  border-radius: 12px;
  position: absolute;
  right: 0;
  margin-right: 85px;
}
.btn-pdf{
  background-color: #d2232a;
  font-family: Mali-Bold;
  color: #fff !important;
  padding: 6px 12px;
  border-radius: 12px;
  position: absolute;
  right: 0;
  margin-right: 15px;
}
.btn-pdfx{
  background-color: #d2232a;
  font-family: Mali-Bold;
  color: #fff !important;
  padding: 6px 12px;
  border-radius: 12px;
  float: right;
}
.del-x{
  color: #d2232a;
  font-size: 24px;
  position: absolute;
  right: 0;
  margin-right: -15px;
}
.del-x:hover{
  color: #f00; 
}
div.badgex{
  background-color: #d2232a;
  border-radius: 100%;   
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  margin-top: -30px;
  margin-right: 60px;
}

.alertx:after{
  content: "";
  width: 15px;
  height: 15px;
  background-color: #d2232a;
  position: absolute;
  margin-top: 15px;
  border-radius: 100%;
  margin-left: 10px;
}
.alertx2:after{
  content: "";
  width: 15px;
  height: 15px;
  background-color: #d2232a;
  position: absolute;
  margin-top: 4px;
  border-radius: 100%;
  margin-left: 10px;
}
.review-main hr{
  border-top: 2px solid #87bf57;  
}

.see-more.float-right{
  margin-top: -40px;
}

.order-main{
  margin-bottom: 15px;
  background-color: #f2f3f2;
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 30px;
}
.gb h3{ 
  color: #004f2b; 
  font-family: Mali-Bold;
}
.orderxb{
  color: #401c0d !important;
  margin: auto;
  display: block;
  font-family: Mali-Bold;
}
.btn-dw2{
  background-color: #004f2b;
  font-family: Mali-Bold;
  color: #fff !important;
  padding: 6px 12px;
  border-radius: 12px; 
}

.select-sx select{ 
  font-family: Mali-Bold;
  border: none;
  border-radius: 16px;  
  color: #d2232a;
  height: 50px;
  padding-left: 25px;
  background-color: #f2f3f2;
} 
.select-sx select {   
  color: #d2232a; 
} 
.select-sx select option { color: #d2232a !important; }
.select-sx select option:first-child{
  color: #d2232a !important;
}

.select-sx select option::placeholder {
  color: #d2232a !important; 
}
.select-sx span{
  position: absolute; 
  margin-top: -40px;
  font-family: Mali-Bold;
  color: red;

  font-size: 24px;
  margin-left: 10px;
}

.fa-uploadx{
  background-color: #f2f3f2;
  margin: auto;
  display: block;
  border-radius: 15px;
  padding: 30px;
  height: 180px;
  text-align: center;
  margin-top: 0px;
}
.fa-uploadx .fa-image{
  margin: auto;
  display: block;
  font-size: 36px;
  line-height: 120px;
}

.order-list h3{
  color: #004f2b;
  font-family: Mali-Bold;
}

.order-list table {
  border-collapse: collapse;
  border-radius: 24px 24px 0 0 ;
  overflow: hidden;
}
.order-list table thead{
  font-family: Mali-Bold;
  background-color: #669c36;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}
.order-list table tbody{ 
  border-bottom: 2px solid #669c36;
}
.order-list table tbody tr td{
  font-family: Mali-Bold; 
  color: #004f2b;
  text-align: center;
  vertical-align: middle;
}
.order-list table tbody tr td:nth-child(1){ 
  font-size: 20px;
}
.order-list table tbody tr td:nth-child(2) img{ 
  width: 110px;
  border-radius: 8px;
}
.order-list table tbody tr td:nth-child(3){ 
  text-align: left;
}
.order-list table tbody tr td:nth-child(4){ 
  font-size: 20px;
}
.order-list table tbody tr td:nth-child(5){ 
  font-size: 20px;
}
.order-list table tbody tr td:nth-child(6){ 
  font-size: 20px;
}

.order-list table tbody h5{ 
  color: #004f2b;
}
.order-list table tbody h6{ 
  color: #004f2b;
}
.order-list table tbody h6 span{ 
  color: #8fa3b8;
}
.conclude{
  background-color: #ededee;
  border-radius: 12px;
  padding: 15px 15px;
  color: #004f2b;
  font-family: Mali-Bold; 
}
.conclude hr{ 
  border-top: 2px solid #669c36;.
}
.tabs-checkout .nav-tabs {  
  border-bottom: none;
  background-color: #ededee; 
  border-radius: 30px;
}
.tabs-checkout .nav-tabs .nav-item{ 
  width: 25%; 

}
.tabs-checkout .nav-tabs .nav-item .nav-link{
  color: #037d29;
  font-family: Mali-Bold; 
  background-color: #ededee; 
  padding: 15px 0px;
  text-align: center;
}
.tabs-checkout .nav-tabs .nav-item .nav-link.active{
  background-color: #669c36; 
  color: #fff;
  
  text-align: center;
}

.tabs-checkout .nav-tabs .nav-link.active, .tabs-checkout .nav-tabs .nav-item.show .nav-link {
  border-color: none !important;
}


.tabs-checkout .nav-tabs .nav-item .nav-link.active.activex{
  background-color: #669c36; 
  border-radius: 30px 0px 0px 30px !important;
}
.tabs-checkout .nav-tabs .nav-item:nth-child(1) .nav-link.active{ 
  /*border-radius: 30px 0 0 30px;*/
  border-radius: 30px;
}
.tabs-checkout .nav-tabs .nav-item:nth-child(2) .nav-link.active.activex{  
  border-radius: 0px !important;
}
.tabs-checkout .nav-tabs .nav-item:nth-child(2) .nav-link.active{ 
  /*border-radius: 30px 0 0 30px;*/
  border-radius: 0 30px 30px 0;
}
.tabs-checkout .nav-tabs .nav-item:nth-child(3) .nav-link.active{ 
  /*border-radius: 30px 0 0 30px;*/
  border-radius: 0 30px 30px 0;
  cursor: default;
}
.tabs-checkout .nav-tabs .nav-item:nth-child(3) .nav-link.active.activex{  
  border-radius: 0px !important;
}
.tabs-checkout .nav-tabs .nav-item:nth-child(4) .nav-link{ 
  border-radius: 0 30px 30px 0;
}
.tabs-checkout .nav-tabs .nav-item:nth-child(4) .nav-link.active{ 
  border-radius: 0 30px 30px 0;
}
.tabs-checkout .nav-tabs .nav-item .nav-link:after{ 
  content: ""; 
  background-repeat: no-repeat;  
  background-position: right; 
  
  width: 15%; 
  height: 50px;
  position: absolute;  
  margin: auto;
  display: block;
  margin-top: -100px;
}

.tabs-checkout .nav-tabs .nav-item:nth-child(1) .nav-link:after{  
  background-image: url(../images/cart_icon.png);  
  background-size: 58px auto ;
}
.tabs-checkout .nav-tabs .nav-item:nth-child(2) .nav-link:after{  
  background-image: url(../images/tab2.png);  
  background-size: 58px auto ;
}
.tabs-checkout .nav-tabs .nav-item:nth-child(3) .nav-link:after{  
  background-image: url(../images/tab3.png);  
  background-size: 58px auto ;
}
.tabs-checkout .nav-tabs .nav-item:nth-child(4) .nav-link:after{  
  background-image: url(../images/tab4.png);  
  background-size: 48px auto ;
}
.btn-next{
  font-family: Mali-Bold;
  color: #fff !important;
  padding: 11px 25px;
  border-radius: 12px;
  background-color: #004f2b;  
}


.checkmarkx {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Mali-Bold;
  color: #004f2b;
}
 
.checkmarkx input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
 
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #d0d2d3;
  border-radius: 50%;
}
 
.checkmarkx:hover input ~ .checkmark {
  background-color: #d0d2d3;
} 
.checkmarkx input:checked ~ .checkmark {
  background-color: #d0d2d3;
}
 
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
 
.checkmarkx input:checked ~ .checkmark:after {
  display: block;
}
 
.checkmarkx .checkmark:after {
  top: 7px;
  left: 7px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #004f2b;
}

.address-set{
  font-family: Mali-Bold;
  color: #401c0d;
}
 
.adds-box{
  background-color: #f2f3f2;
  border-radius: 15px;
  padding: 25px 15px 15px;
  border:1px solid #f2f3f2;
}

.adds-box.active{
  border:1px solid #004f2b;
}
.adds-box h3{
  font-family: Mali-Bold;
  color: #004f2b;
}
.adds-box h4{
  font-family: Mali-Bold;
  color: #004f2b;
}
.adds-box h6{
  font-family: Mali-Bold;
  color: #004f2b;
}
.adds-box p{
  font-family: Mali-Bold;
  color: #d2232a;
  margin-bottom: 0px;
}
.adds-box h6 span{
  font-family: Mali-Bold;
  color: #8fa3b8;
}

.adds-box.new{
  font-family: Mali-Bold;
  color: #8fa3b8;
}

.adds-box.new h3,.adds-box.new h6{ 
  opacity: 0;
}
.adds-box.new i{ 
  margin: auto;
  display: block;
  color: #004f2b;
  font-size: 36px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 30%;
  margin-left: 45%;
}

.swch .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
  margin-top: 5px; 
  font-family: Mali-Bold;
  color: #004f2b;
  margin-right: 15px;
}
.swch .switch span{ 
  padding-right: 15px;
}
.swch .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.swch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8fa3b8;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.swch .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  margin-top:5px;
}

.swch input:checked + .slider {
  background-color: #669c36;
}
.swch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.swch input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
} 
.box-ker{
  padding-left: 30px;
}
.box-ker h6{
  color: #004f2b;
  font-family: Mali-Bold;
}
.h4a{
  color: #004f2b;
  text-align: center;
  font-family: Mali-Bold;
}


.btn-dw2{
  background-color: #004f2b;
  font-family: Mali-Bold;
  color: #fff !important;
  padding: 6px 12px;
  border-radius: 12px; 
  margin-right: 5px;
  margin-left: 5px;
}
.btn-pdf2{
  background-color: #d2232a;
  font-family: Mali-Bold;
  color: #fff !important;
  padding: 6px 12px;
  border-radius: 12px; 
  margin-right: 5px;
  margin-left: 5px;
}

.payment h3{
  font-family: Mali-Bold;
  color: #401c0d !important;
}
.payment h4{
  font-family: Mali-Bold;
  color: #004f2b !important;
}

.payment .row .col-lg-3:nth-child(4) .box-pay:after{ 
  content: "";
  opacity: 0;
}
.payment .box-pay img{ 
  width: 80px; 
}
.payment-ul ul{
  list-style: none; 
  padding-bottom: 15px;
}
.payment-ul ul li{
  padding-left: 25px; 
}
.payment-ul ul.hr{ 
  border-bottom: 2px solid #669c36;  
}


.payment-ul ul li p{ 
  font-family: Mali-Bold;
  color: #004f2b !important; 
  display: inline-block;
}
.payment-ul ul li img.mt{
  display: inline-block;
  margin-top: -20px;
}
.payment-ul ul li:after{ 
  content: "";
  background-image: url(../images/lio.png);
  background-repeat: no-repeat;   
  width: 30px;
  height: 30px;
  background-size: 15px auto; 
  position: absolute;
  left: 0;  
  margin-left: 55px;
  margin-top: 5px;  
  
}
.form-control{
  font-family: Mali-Bold;
} 

@media only screen and (max-width: 991px) { /* MOBILE */
  footer h4{
    text-align: center;
  } 
  .carousel-control-prev-icon { 
    background-size: 30px;
  }
  .carousel-control-next-icon { 
    background-size: 30px;
  }
  h3.hob span {
    font-size: 18px;
  }
  .botx h5{ 
    font-size: 14px;
  }
  .botx h5.price{ 
    font-size: 14px;
  }
  .botx h6{ 
    font-size: 12px;
  }
  .botx .cart-item{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 25px;
    margin-bottom: 25px;
    width: 40px;
  }
  .h5m{
    font-size: 14px;
  }
  .read-more{
    font-size: 14px;
  }
  .read-more{ 
    margin-bottom: 20px; 
  }
  .ft-logo{
    max-width: 120px;
  }
  footer h4{
    font-size: 16px;
  }
  footer .ft-ul li a{
    font-size: 13px;
    line-height: 20px;
  }
  header .cart{
    background-color: #EDEDEE;
    width: 65px; 
    float: right;  
    border-radius: 0px 0px 45px 45px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1020;
  }
  .navbar{
    background-color: #fff;
    z-index: 999;
    position: absolute;
    top:0;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .top-1{
    margin-top: 30px;
  }
  .search-mb{
    position: absolute;
    top: 0;
    left: 0;
  }
  .form-search{
    width: 100%;
  }
  .form-search input{
    width: 75%;
  }
  .order-0{
    flex: 0 0 100%;
    max-width: 100%;l
  } 
  .form-search button{ 
    margin-right: 100px;
  }
  .product5 .itm img{
    max-width: 60px;
  }
  .product4 .itm img{
    max-width: 50px;
  }
  .navbar-brand{
    display: none;
  }
  .botx .cart-like{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 85px;
    margin-bottom: 20px;
    width: 35px;
  }
  .payment .box-pay{
    font-family: Mali-Bold;
    color: #004f2b !important;
    border: 2px solid #669c36; 
    border-radius: 100%; 
    text-align: center;
    padding: 10px;
    width: 140px;
    height: 140px;
    margin: auto;
    display: block;
    font-size: 13px;
    margin-bottom:40px;
  }
  .payment .box-pay img{ 
    width: 40px; 
  }
  .payment .box-pay:after{
    content: "";
    background-image: url(../images/arw.png);
    background-repeat: no-repeat;   
    width: 40px;
    height: 40px;
    background-size: 30px auto; 
    left: 0; 
    transform: rotate(90deg);
    margin: auto;
    display: block;
    margin-left: 25px;
    margin-top: 25px;
  } 
}
@media only screen and (min-width: 992px) { /* PC */
  footer h4{
    text-align: center;
  } 
  .carousel-control-prev-icon { 
    background-size: 70px;
  }
  .carousel-control-next-icon { 
    background-size: 70px;
  } 
  .botx .cart-item{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 25px;
    margin-bottom: 20px;
    width: 45px;
  }
  .botx .cart-like{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 85px;
    margin-bottom: 20px;
    width: 35px;
  }
  .read-more{ 
    margin-bottom: 10px; 
  }
  .top-3 .navbar-nav .nav-item .nav-link p{
    width: 80px;
    height: 80px;
    margin: auto;
    background-size:  auto 58px;
    background-repeat: no-repeat;
    background-position: center; 
    /*border-radius: 100%;*/
  }

  .top-3 .navbar-nav .nav-item:nth-child(1) .nav-link p{
    background-image: url(../images/m1.png);
  }
  .top-3 .navbar-nav .nav-item:nth-child(2) .nav-link p{
    background-image: url(../images/m2.png);
  }
  .top-3 .navbar-nav .nav-item:nth-child(3) .nav-link p{
    background-image: url(../images/m3.png);
  }
  .top-3 .navbar-nav .nav-item:nth-child(4) .nav-link p{
    background-image: url(../images/m4.png);
  }
  .top-3 .navbar-nav .nav-item:nth-child(5) .nav-link p{
    background-image: url(../images/m5.png);
  }
  .top-3 .navbar-nav .nav-item:nth-child(6) .nav-link p{
    background-image: url(../images/m6.png);
  }
  .top-3 .navbar-nav .nav-item:nth-child(7) .nav-link p{
    background-image: url(../images/m7.png);
  }
  header .cart{
    background-color: #fff;
    width: 75px;
    height: 98px;
    float: right; 
    margin-top: -55px;
    border-radius: 0px 0px 45px 45px;
  }
  header{
    height: 200px;
  }
  .form-search button{ 
    margin-right: 25px;
  }
  .ft-logo{
    max-width: 120px;
  }
  .payment .box-pay:after{
    content: "";
    background-image: url(../images/arw.png);
    background-repeat: no-repeat;   
    width: 100px;
    height: 100px;
    background-size: 80px auto;
    position: absolute;
    right: 0;
    margin-right: -55px;
    margin-top: -15px;
  }
  .payment .box-pay{
    font-family: Mali-Bold;
    color: #004f2b !important;
    border: 2px solid #669c36; 
    border-radius: 100%; 
    text-align: center;
    padding: 10px;
    width: 160px;
    height: 160px;
    margin: auto;
    display: block;
    font-size: 16px;
  }
  .payment .box-pay img{ 
    width: 60px; 
  }
}








/* 
401c0d

4a752e
87bf57
669c36

004f2b

ededee
*/